.place__url {
    margin: 12px 0 0;
    padding: 0;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #fff;
}

.place__url:hover {
    cursor: pointer;
    opacity: .8;
}

